/* Gaya Form Pencarian */
.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

/* Gaya Hasil Pencarian */
.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    width: 200px;
    text-align: center;
}

.poster-thumb {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.poster-thumb:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.back-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.back-button button:hover {
    background-color: #0056b3;
}