<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMood - Film Recommendation with Face Detection</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>CineMOOD</h1>

        <!-- Tombol Deteksi Ekspresi -->
        <button id="detectEmotion">Deteksi Ekspresi</button>

        <div id="camera-dialog" class="dialog">
            <div class="dialog-content">
                <span id="close-dialog" class="close">&times;</span>
                <h3>Deteksi Ekspresi Wajah</h3>
                <div id="camera-container">
                    <video id="video" autoplay></video>
                    <div id="camera-frame"></div>
                    <button onclick="capture()">Capture</button>
                </div>
            </div>
        </div>

        <!-- Form Pencarian -->
        <form action="/search" method="get" class="search-form">
            <input type="text" name="query" placeholder="Search movies by title or genre" required>
            <button type="submit">Search</button>
        </form>

        <!-- Daftar Film -->
        <div>
            <h2>Movies:</h2>
            <ul id="movie-list">
                <li th:each="movie : ${movies}">
                    <a th:href="@{'/details/' + ${movie.id}}">
                        <img
                          th:src="'https://image.tmdb.org/t/p/w200' + ${movie.poster_path}"
                          alt="Poster"
                          class="poster-thumb"
                        />
                        <span th:text="${movie.title}"></span>
                      </a>
                </li>
            </ul>
        </div>
        <div id="pagination" class = "pageBtn">
            <button id="prevPage" onclick="prevPage()">Previous</button>
            <span id="pageIndicator">Page 1</span>
            <button id="nextPage" onclick="nextPage()">Next</button>
        </div>
        
    </div>
    </div>

    <script src="/app.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>
</body>
</html>
